<% content_for :title, "Editing racipe" %>

<h1>Editing racipe</h1>

<%= render "form", racipe: @racipe %>

<br>

<div>
  <%= link_to "Show this racipe", @racipe %> |
  <%= link_to "Back to racipes", racipes_path %>
</div>
